<div class="houses pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
<hgroup class="speech-bubble" ng-show="showFilters">
				<a class="" href="#" ng-click="sortRecent()">Mais recentes</a>
				<a class="" href="#" ng-click="sortHigh()">Maior valor</a>
				<a class="" href="#" ng-click="sortLower()">Menor valor</a>
	
			</hgroup>
	<div class="houses-head">
		<div class="logo-field">
			<a href="#/profile" class="s-menu"><img src="./assets/res/Icon%2004.png" alt=""></a>
			<div class="sub-logo">
				<img src="./assets/res/Logo%20Branca.png" alt="">
			</div>
		</div>
		<div class="head-options">
			<a href="#/search" class="search-houses"><img src="./assets/res/Icon%2003.png" alt=""></a>
			<a href="javascript:;" ng-click="toggleFilters()" class="filter-houses"><img src="./assets/res/menu.png" alt="">
			</a>
		</div>
		<div class="houses-count" ng-show="count && houses.length > 0">
			<span ng-show="houses.length == 1">{{houses.length || 0}} oferta à venda</span>
			<span ng-show="houses.length > 1">{{houses.length || 0}} ofertas à venda</span>
		</div>

	</div>
	<div class="houses-view">
	      <div class="no-adv" ng-show="houses.length == 0 && !stateLoading">
            Não foram encontrados imóveis
        </div>
		<ul class="entrys">
		 <div class="loader" ng-show="!count || stateLoading">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
    
  </div>
			<li ng-click="view(house)" ng-repeat="(key, house) in houses">
				<div class="label" ng-show="house.adv.ehdestaque">Destaque</div>
				
				<img img-fade-in-onload="{{house.adv.image != null ? house.root + '/media/'+house.adv.image:  'http://longwoodinteriors.com/wp-content/uploads/2014/04/placeholder4-840x630.png'}}" alt="">
				<div class="custom-overlay">
					<h3 class="title">

{{house.adv.imob_bairro + ', '+
house.adv.imob_cidade+ ' - '+
house.adv.imob_estado+ ', '+
house.type.nome+ ' - '}}

{{house.title}}</h3>
					<div class="info">
						<div class="info-detail">
							<div class="type">
								Imóvel: {{house.type.nome}}
							</div>
							<div class="extra-info">
								<span  ng-show="house.rooms">{{house.rooms}}</span>
								<span ng-show="house.vacacys">{{house.vacacys}}</span>
								<span ng-show="!house.rooms">Total de quartos: 0</span>
								<span ng-show="!house.vacacys">Total de vagas: 0</span>
							</div>
						<a href="#" class="know-more" ng-click="view(house)">R$ {{house.money != '' ? house.money : 'Saiba mais'}}</a></div>					
						
					</div>
				</div>
			</li>

		</ul>
	</div>
	<div class="search-bottom">
		<div class="inner-search">
			<input type="text" ng-model="search_query" placeholder="Digite um endereço de busca" class="bottom-search">
			<img src="./assets/res/Icon%2001.png" alt="" ng-click="search()">
		</div>
	</div>
</div>