<div class="pane profile" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
    <div class="top-inner custom">
    	<div class="back-btn custom" ng-click="back('/houses')">
    		<a href="#/houses">			
    			<i class="ion ion-ios-arrow-back"></i>
    			<span>Minha conta</span>

    		</a>
    	</div>
    	<div class="opt-right">
    		<a href="#/search"><img src="./assets/res/Icon%2003.png" alt=""></a>
    	</div>
    </div>
      <div class="user-hero" ng-show="user.title">
    	<img ng-click="selectFile('#user_avatar')" data-ng-src="{{user.avatar ? user.avatar : 'https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png'}}" class="uavatar">
        <h4>{{user.title}}</h4>
            <input type="file" id="user_avatar" multiple  ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" ng-hide="true" />
         

        <div class="profile-buttons">
    <!-- 		<a href="" class=""><img alt="" src="./assets/res/pencil-striped-symbol-for-interface-edit-buttons.png"> Meu perfil</a> -->
<a href="#" class="logout" ng-click="logout()"> 
                <img src="./res/icons/exit.svg" alt="">Sair</a> 
    		<a href="#" > 
                <img src="./assets/res/Icon%2005.png" alt=""> Meus anúncios
            </a>
        </div>
    	</div>	
      <div class="user-hero custom" ng-show="!user.title">
            <a href="#/login">Fazer login</a>
        </div>          
    <div class="my-houses-view">
        <div class="loader" ng-show="!userHouses && stateLoading">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        
      </div>
        <div class="no-adv" ng-show="userHouses.length == 0 && !stateLoading">
            Você não possui anúncios
        </div>
        <div class="current-house" ng-repeat="house in userHouses" ng-click="view(house)">
            <img class="orbit" src="./assets/res/Icon%2005.png">
            <img  img-fade-in-onload="{{base + '/media/'+house.adv.image}}" alt="">
            <h6 class="hosue-title">{{house.adv.title}}</h6>
            <div class="hosue-info">
                <div class="house-type">Imovel: {{house.type.nome}}</div>
                <div class="house-meta">{{house.rooms}} {{house.vacacys}}</div>
            </div>

        </div>
    </div>
    <div class="credits" ng-click="openSite()" ng-show="false">
        <a href="https://www.clicksoft.com.br" target="_blank">Desenvolvido por Clicksoft</a>
    </div>
</div>