<div class="login pane">
<div class="bar-login">
    <a href="#/houses">Voltar aos anúncios <i class="ion ion-md-arrow-forward"></i></a>
  </div>
	<div id="login-form">
		<div class="logo-login">
			<img src="./assets/res/Logo%20Branca.png" alt="">
		</div>
		<div class="message" ng-show="message">{{message}}</div>
		<input type="text" ng-model="user.email" placeholder="E-mail">
		<input ng-model="user.password" type="password" placeholder="Senha">
		<div class="login-footer">
			<!-- <a href="#" class="forgot">Esqueci a senha</a> -->
			<a href="#" class="btn btn-login" ng-click="login()">Entrar</a>
		</div>
		<img src="./assets/res/mapa.png" class="lgn-caption">
	</div>	
</div> 
